button{
    margin: 5px;
    padding: 20px;
    font-size: larger;
    font-weight: bold ;
    background-color: red;
    color: white;
    border-radius: 6px;
}
button:hover{
   background-color: pink;
    box-shadow: gray 2px 4px;
    text-decoration: underline;
}
h1{
    background-image: linear-gradient(to right,rgb(0, 0, 0),rgb(228, 155, 155),rgb(0, 0, 0));
    color: blanchedalmond;
}
body{
    background-color: pink;
    background-image: url("omar.gif");
    background-repeat: no-repeat;
    background-size: 300px 250px;
    background-position: 100px 250px;
}
@media screen and (max-width:1024px){
body {
    background-color: pink;
    background-image: url("omar.gif");
    background-repeat: no-repeat;
    background-size: 300px 250px;
    background-position: 100px 450px;
}
}
div{
    background-color: rgb(206, 140, 140);
    color: white;
    position: relative;
    bottom: 0;
    top: 250px;
}
#x{
    color:red;
}
p{
    font-size: large;
}